execution_595_data.json
{"id":"595","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-03-11T12:05:08.847Z","startedAt":"2026-03-11T12:05:08.891Z","stoppedAt":"2026-03-11T12:05:08.930Z","deletedAt":null,"workflowId":"HIjL5Ct8lPzLyDvs","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"error":{"cause":[{"value1":"={{ $json.query['hub.verify_token'] }}","operation":"equal","value2":"={{ $env.WHATSAPP_VERIFY_TOKEN }}"}],"level":"warning","tags":{},"timestamp":1773230708915,"context":{"causeDetailed":"If you need access please contact the administrator to remove the environment variable ‘N8N_BLOCK_ENV_ACCESS_IN_NODE‘","runIndex":0,"itemIndex":0,"parameter":"conditions.string"},"functionality":"regular","name":"ExpressionError","message":"access to env vars denied","stack":"ExpressionError: access to env vars denied\n    at Object.get (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/workflow-data-proxy-env-provider.ts:63:12)\n    at Proxy.eval (eval at getFunction (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+tournament@1.0.6/node_modules/@n8n/tournament/src/FunctionEvaluator.ts:13:16), <anonymous>:6:50)\n    at FunctionEvaluator.evaluate (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+tournament@1.0.6/node_modules/@n8n/tournament/src/FunctionEvaluator.ts:20:13)\n    at Tournament.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+tournament@1.0.6/node_modules/@n8n/tournament/src/index.ts:45:25)\n    at evaluateExpression (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression-evaluator-proxy.ts:20:9)\n    at Expression.renderExpression (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:482:29)\n    at Expression.resolveSimpleParameterValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:463:28)\n    at resolveParameterValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:645:16)\n    at Expression.getParameterValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:702:22)\n    at resolveParameterValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:629:17)"},"runData":{"Webhook":[{"startTime":1773230708894,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"connection":"upgrade","host":"n8n.digynex.se","x-real-ip":"172.69.235.159","x-forwarded-for":"85.230.105.134, 172.69.235.159","x-forwarded-proto":"https","content-length":"19","user-agent":"Mozilla/5.0 (Windows NT 10.0; Microsoft Windows 10.0.26200; en-SE) PowerShell/7.5.4","content-type":"application/json","accept-encoding":"gzip, br","cf-ray":"9daa6cfa2ddfac17-GOT","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"85.230.105.134","cf-ipcountry":"SE","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"hello"},"webhookUrl":"http://localhost:5678/webhook/f639f695-c06f-4bfa-8fcb-e971392f7966","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Verify Webhook":[{"startTime":1773230708898,"executionIndex":1,"source":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":27,"executionStatus":"error","error":{"cause":[{"value1":"={{ $json.query['hub.verify_token'] }}","operation":"equal","value2":"={{ $env.WHATSAPP_VERIFY_TOKEN }}"}],"level":"warning","tags":{},"timestamp":1773230708915,"context":{"causeDetailed":"If you need access please contact the administrator to remove the environment variable ‘N8N_BLOCK_ENV_ACCESS_IN_NODE‘","runIndex":0,"itemIndex":0,"parameter":"conditions.string"},"functionality":"regular","name":"ExpressionError","message":"access to env vars denied","stack":"ExpressionError: access to env vars denied\n    at Object.get (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/workflow-data-proxy-env-provider.ts:63:12)\n    at Proxy.eval (eval at getFunction (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+tournament@1.0.6/node_modules/@n8n/tournament/src/FunctionEvaluator.ts:13:16), <anonymous>:6:50)\n    at FunctionEvaluator.evaluate (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+tournament@1.0.6/node_modules/@n8n/tournament/src/FunctionEvaluator.ts:20:13)\n    at Tournament.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+tournament@1.0.6/node_modules/@n8n/tournament/src/index.ts:45:25)\n    at evaluateExpression (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression-evaluator-proxy.ts:20:9)\n    at Expression.renderExpression (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:482:29)\n    at Expression.resolveSimpleParameterValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:463:28)\n    at resolveParameterValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:645:16)\n    at Expression.getParameterValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:702:22)\n    at resolveParameterValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:629:17)"}}]},"lastNodeExecuted":"Verify Webhook"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query['hub.verify_token'] }}","operation":"equal","value2":"={{ $env.WHATSAPP_VERIFY_TOKEN }}"}]},"combineOperation":"all"},"id":"verify-node","name":"Verify Webhook","type":"n8n-nodes-base.if","typeVersion":1,"position":[250,150]},"data":{"main":[[{"json":{"headers":{"connection":"upgrade","host":"n8n.digynex.se","x-real-ip":"172.69.235.159","x-forwarded-for":"85.230.105.134, 172.69.235.159","x-forwarded-proto":"https","content-length":"19","user-agent":"Mozilla/5.0 (Windows NT 10.0; Microsoft Windows 10.0.26200; en-SE) PowerShell/7.5.4","content-type":"application/json","accept-encoding":"gzip, br","cf-ray":"9daa6cfa2ddfac17-GOT","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"85.230.105.134","cf-ipcountry":"SE","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"hello"},"webhookUrl":"http://localhost:5678/webhook/f639f695-c06f-4bfa-8fcb-e971392f7966","executionMode":"production"},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}]}},{"node":{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.message || $json.body.entry[0].changes[0].value.messages[0].text.body }}","operation":"isNotEmpty"}]},"combineOperation":"all"},"id":"is-message-node","name":"Is Message","type":"n8n-nodes-base.if","typeVersion":1,"position":[500,300]},"data":{"main":[[{"json":{"headers":{"connection":"upgrade","host":"n8n.digynex.se","x-real-ip":"172.69.235.159","x-forwarded-for":"85.230.105.134, 172.69.235.159","x-forwarded-proto":"https","content-length":"19","user-agent":"Mozilla/5.0 (Windows NT 10.0; Microsoft Windows 10.0.26200; en-SE) PowerShell/7.5.4","content-type":"application/json","accept-encoding":"gzip, br","cf-ray":"9daa6cfa2ddfac17-GOT","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"85.230.105.134","cf-ipcountry":"SE","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"hello"},"webhookUrl":"http://localhost:5678/webhook/f639f695-c06f-4bfa-8fcb-e971392f7966","executionMode":"production"},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1773230708893,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"HIjL5Ct8lPzLyDvs","name":"DigyNex Master Agent - Final","active":true,"activeVersionId":"9c6bdb8a-62bf-45f0-ad89-e0b3243ffcd4","isArchived":false,"createdAt":"2026-03-11T10:42:33.612Z","updatedAt":"2026-03-11T11:52:44.395Z","nodes":[{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"f639f695-c06f-4bfa-8fcb-e971392f7966","authentication":"none","responseMode":"responseNode","webhookNotice":"","options":{}},"id":"webhook-1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[0,300],"webhookId":"f639f695-c06f-4bfa-8fcb-e971392f7966"},{"parameters":{"notice":"","modelName":"models/gemini-2.5-flash","options":{}},"id":"gemini-1","name":"Google Gemini","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[600,550],"credentials":{"googlePalmApi":{"id":"iGmBVG0Pa93PNfat","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"notice":"","scalingNotice":"","sessionIdType":"customKey","sessionKey":"={{ $json.body.sessionId || ($node[\"Webhook\"].json.body.entry && $node[\"Webhook\"].json.body.entry[0].changes[0].value.messages[0].from) || 'default-session' }}","contextWindowLength":5},"id":"memory-1","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[800,550]},{"parameters":{"aiAgentStarterCallout":"","agent":"toolsAgent","promptType":"define","text":"={{ $json.body.message || $json.body.entry[0].changes[0].value.messages[0].text.body }}","hasOutputParser":false,"options":{"systemMessage":"You are DigyNex Tech Strategy Partner 🤖.\n\n### ⚠️ LANGUAGE SWITCHING (CRITICAL RULE):\n1. DO NOT stick to one language based on previous messages.\n2. ALWAYS MATCH THE LATEST USER MESSAGE LANGUAGE:\n   - If the latest message is in English -> Reply in Professional English.\n   - If the latest message is in Sinhala/Singlish -> Reply in Singlish/Sinhala.\n   - If the latest message is in Swedish -> Reply in Swedish.\n3. CONTEXT SWITCH: If the user changes language mid-chat, you MUST switch your reply language immediately to match theirs. NO EXCEPTIONS.\n4. Keep ALL replies very short (max 2 sentences).\n\n### 🤖 IDENTITY DETAILS:\n- STYLE: Professional Cool Buddy. Use \"මචන්\", \"අයියේ\" naturally in Sinhala. Professional yet friendly in English.\n- CONFIDENCE: DigyNex is a Global IT Ecosystem based in Sweden."},"credentials":""},"id":"agent-1","name":"AI Agent Logic","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1050,300]},{"parameters":{"notice":"","toolDescription":"","method":"POST","placeholderNotice":"","url":"=https://{{$env.SUPABASE_PROJECT_REF}}.supabase.co/rest/v1/leads","authentication":"none","sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","parametersHeaders":{"values":[{"name":"","valueProvider":"modelRequired"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"name\": \"{{$fromAI(\"name\")}}\", \"phone\": \"{{$fromAI(\"phone\")}}\", \"notes\": \"{{$fromAI(\"notes\")}}\", \"status\": \"new\", \"source\": \"WhatsApp AI\", \"org_id\": \"{{$env.DEFAULT_ORG_ID}}\" }","placeholderDefinitions":{},"optimizeResponse":false},"id":"tool-1","name":"Add_Lead","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1,"position":[1300,500]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query['hub.verify_token'] }}","operation":"equal","value2":"={{ $env.WHATSAPP_VERIFY_TOKEN }}"}]},"combineOperation":"all"},"id":"verify-node","name":"Verify Webhook","type":"n8n-nodes-base.if","typeVersion":1,"position":[250,150]},{"parameters":{"generalNotice":"","respondWith":"firstIncomingItem","options":{}},"id":"resp-node","name":"Respond Challenge","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[500,50]},{"parameters":{"curlImport":"","method":"POST","url":"=https://graph.facebook.com/v21.0/{{$env.WHATSAPP_PHONE_ID}}/messages","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  \"messaging_product\": \"whatsapp\",\n  \"to\": $node[\"Webhook\"].json.body.entry[0].changes[0].value.messages[0].from,\n  \"type\": \"text\",\n  \"text\": { \"body\": $json.output }\n}) }}","options":{},"infoMessage":""},"id":"send-wa-node","name":"Send WhatsApp Response","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1550,450]},{"parameters":{"generalNotice":"","respondWith":"firstIncomingItem","options":{}},"id":"resp-chat-node","name":"Respond to Web Chat","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1550,250]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.message || $json.body.entry[0].changes[0].value.messages[0].text.body }}","operation":"isNotEmpty"}]},"combineOperation":"all"},"id":"is-message-node","name":"Is Message","type":"n8n-nodes-base.if","typeVersion":1,"position":[500,300]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"Webhook\"].json.body.object }}","operation":"equal","value2":"whatsapp_business_account"}]},"combineOperation":"all"},"id":"routing-if-node","name":"If","type":"n8n-nodes-base.if","typeVersion":1,"position":[1300,300]}],"connections":{"Webhook":{"main":[[{"node":"Verify Webhook","type":"main","index":0},{"node":"Is Message","type":"main","index":0}]]},"Verify Webhook":{"main":[[{"node":"Respond Challenge","type":"main","index":0}]]},"Is Message":{"main":[[{"node":"AI Agent Logic","type":"main","index":0}]]},"Google Gemini":{"ai_languageModel":[[{"node":"AI Agent Logic","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent Logic","type":"ai_memory","index":0}]]},"Add_Lead":{"ai_tool":[[{"node":"AI Agent Logic","type":"ai_tool","index":0}]]},"AI Agent Logic":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Send WhatsApp Response","type":"main","index":0}],[{"node":"Respond to Web Chat","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"saveDataSuccessExecution":"all","saveDataErrorExecution":"all","saveExecutionProgress":true},"staticData":{},"pinData":{}},"customData":{}}