n8n_workflow_final.json
{"updatedAt":"2026-03-11T11:31:11.731Z","createdAt":"2026-03-11T10:42:33.612Z","id":"HIjL5Ct8lPzLyDvs","name":"DigyNex Master Agent - Final","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"digynex-master-ai","responseMode":"responseNode","options":{}},"id":"webhook-1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[0,300]},{"parameters":{"model":"gemini-pro"},"id":"gemini-1","name":"Google Gemini","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[600,550],"credentials":{"googlePalmApi":{"id":"iGmBVG0Pa93PNfat","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.sessionId || ($node[\"Webhook\"].json.body.entry && $node[\"Webhook\"].json.body.entry[0].changes[0].value.messages[0].from) || 'default-session' }}"},"id":"memory-1","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[800,550]},{"parameters":{"promptType":"define","text":"={{ $json.body.message || $json.body.entry[0].changes[0].value.messages[0].text.body }}","options":{"systemMessage":"You are DigyNex Tech Strategy Partner 🤖.\n\n### ⚠️ LANGUAGE SWITCHING (CRITICAL RULE):\n1. DO NOT stick to one language based on previous messages.\n2. ALWAYS MATCH THE LATEST USER MESSAGE LANGUAGE:\n   - If the latest message is in English -> Reply in Professional English.\n   - If the latest message is in Sinhala/Singlish -> Reply in Singlish/Sinhala.\n   - If the latest message is in Swedish -> Reply in Swedish.\n3. CONTEXT SWITCH: If the user changes language mid-chat, you MUST switch your reply language immediately to match theirs. NO EXCEPTIONS.\n4. Keep ALL replies very short (max 2 sentences).\n\n### 🤖 IDENTITY DETAILS:\n- STYLE: Professional Cool Buddy. Use \"මචන්\", \"අයියේ\" naturally in Sinhala. Professional yet friendly in English.\n- CONFIDENCE: DigyNex is a Global IT Ecosystem based in Sweden."}},"id":"agent-1","name":"AI Agent Logic","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1050,300]},{"parameters":{"name":"Add_Lead","description":"Call this to save customer info. Inputs: name (string), phone (string), notes (string)","method":"POST","url":"=https://{{$env.SUPABASE_PROJECT_REF}}.supabase.co/rest/v1/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Authorization","value":"Bearer {{$env.SUPABASE_ANON_KEY}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"name\": \"{{$fromAI(\"name\")}}\", \"phone\": \"{{$fromAI(\"phone\")}}\", \"notes\": \"{{$fromAI(\"notes\")}}\", \"status\": \"new\", \"source\": \"WhatsApp AI\", \"org_id\": \"{{$env.DEFAULT_ORG_ID}}\" }"},"id":"tool-1","name":"Add_Lead","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1,"position":[1300,500]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query['hub.verify_token'] }}","operation":"equal","value2":"={{ $env.WHATSAPP_VERIFY_TOKEN }}"}]}},"id":"verify-node","name":"Verify Webhook","type":"n8n-nodes-base.if","typeVersion":1,"position":[250,150]},{"parameters":{"responseCode":200,"responseBody":"={{ $node['Webhook'].json.query['hub.challenge'] }}","options":{}},"id":"resp-node","name":"Respond Challenge","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[500,50]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{$env.WHATSAPP_PHONE_ID}}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  \"messaging_product\": \"whatsapp\",\n  \"to\": $node[\"Webhook\"].json.body.entry[0].changes[0].value.messages[0].from,\n  \"type\": \"text\",\n  \"text\": { \"body\": $json.output }\n}) }}","options":{}},"id":"send-wa-node","name":"Send WhatsApp Response","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1550,450]},{"parameters":{"options":{},"responseBody":"={{ $json.output }}"},"id":"resp-chat-node","name":"Respond to Web Chat","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1550,250]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.message || $json.body.entry[0].changes[0].value.messages[0].text.body }}","operation":"isNotEmpty"}]}},"id":"is-message-node","name":"Is Message","type":"n8n-nodes-base.if","typeVersion":1,"position":[500,300]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"Webhook\"].json.body.object }}","operation":"equal","value2":"whatsapp_business_account"}]}},"id":"routing-if-node","name":"If","type":"n8n-nodes-base.if","typeVersion":1,"position":[1300,300]}],"connections":{"Webhook":{"main":[[{"node":"Verify Webhook","type":"main","index":0},{"node":"Is Message","type":"main","index":0}]]},"Verify Webhook":{"main":[[{"node":"Respond Challenge","type":"main","index":0}]]},"Is Message":{"main":[[{"node":"AI Agent Logic","type":"main","index":0}]]},"Google Gemini":{"ai_languageModel":[[{"node":"AI Agent Logic","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent Logic","type":"ai_memory","index":0}]]},"Add_Lead":{"ai_tool":[[{"node":"AI Agent Logic","type":"ai_tool","index":0}]]},"AI Agent Logic":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Send WhatsApp Response","type":"main","index":0}],[{"node":"Respond to Web Chat","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a2343e66-cd83-47cf-b52b-d3c58853a8ae","activeVersionId":"a2343e66-cd83-47cf-b52b-d3c58853a8ae","versionCounter":27,"triggerCount":1,"shared":[{"updatedAt":"2026-03-11T10:42:33.612Z","createdAt":"2026-03-11T10:42:33.612Z","role":"workflow:owner","workflowId":"HIjL5Ct8lPzLyDvs","projectId":"Zz2eCu3eCtFFbtm3","project":{"updatedAt":"2026-03-02T22:58:56.362Z","createdAt":"2026-03-02T22:58:16.099Z","id":"Zz2eCu3eCtFFbtm3","name":"Amila Wijayantha Perera <amilawijayanthaperera@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"b7ad677e-7e8c-4bfe-a727-58ebf0eeb056"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-11T11:31:11.733Z","createdAt":"2026-03-11T11:31:11.733Z","versionId":"a2343e66-cd83-47cf-b52b-d3c58853a8ae","workflowId":"HIjL5Ct8lPzLyDvs","nodes":[{"parameters":{"httpMethod":"POST","path":"digynex-master-ai","responseMode":"responseNode","options":{}},"id":"webhook-1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[0,300]},{"parameters":{"model":"gemini-pro"},"id":"gemini-1","name":"Google Gemini","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[600,550],"credentials":{"googlePalmApi":{"id":"iGmBVG0Pa93PNfat","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.sessionId || ($node[\"Webhook\"].json.body.entry && $node[\"Webhook\"].json.body.entry[0].changes[0].value.messages[0].from) || 'default-session' }}"},"id":"memory-1","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[800,550]},{"parameters":{"promptType":"define","text":"={{ $json.body.message || $json.body.entry[0].changes[0].value.messages[0].text.body }}","options":{"systemMessage":"You are DigyNex Tech Strategy Partner 🤖.\n\n### ⚠️ LANGUAGE SWITCHING (CRITICAL RULE):\n1. DO NOT stick to one language based on previous messages.\n2. ALWAYS MATCH THE LATEST USER MESSAGE LANGUAGE:\n   - If the latest message is in English -> Reply in Professional English.\n   - If the latest message is in Sinhala/Singlish -> Reply in Singlish/Sinhala.\n   - If the latest message is in Swedish -> Reply in Swedish.\n3. CONTEXT SWITCH: If the user changes language mid-chat, you MUST switch your reply language immediately to match theirs. NO EXCEPTIONS.\n4. Keep ALL replies very short (max 2 sentences).\n\n### 🤖 IDENTITY DETAILS:\n- STYLE: Professional Cool Buddy. Use \"මචන්\", \"අයියේ\" naturally in Sinhala. Professional yet friendly in English.\n- CONFIDENCE: DigyNex is a Global IT Ecosystem based in Sweden."}},"id":"agent-1","name":"AI Agent Logic","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1050,300]},{"parameters":{"name":"Add_Lead","description":"Call this to save customer info. Inputs: name (string), phone (string), notes (string)","method":"POST","url":"=https://{{$env.SUPABASE_PROJECT_REF}}.supabase.co/rest/v1/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Authorization","value":"Bearer {{$env.SUPABASE_ANON_KEY}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"name\": \"{{$fromAI(\"name\")}}\", \"phone\": \"{{$fromAI(\"phone\")}}\", \"notes\": \"{{$fromAI(\"notes\")}}\", \"status\": \"new\", \"source\": \"WhatsApp AI\", \"org_id\": \"{{$env.DEFAULT_ORG_ID}}\" }"},"id":"tool-1","name":"Add_Lead","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1,"position":[1300,500]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query['hub.verify_token'] }}","operation":"equal","value2":"={{ $env.WHATSAPP_VERIFY_TOKEN }}"}]}},"id":"verify-node","name":"Verify Webhook","type":"n8n-nodes-base.if","typeVersion":1,"position":[250,150]},{"parameters":{"responseCode":200,"responseBody":"={{ $node['Webhook'].json.query['hub.challenge'] }}","options":{}},"id":"resp-node","name":"Respond Challenge","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[500,50]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{$env.WHATSAPP_PHONE_ID}}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  \"messaging_product\": \"whatsapp\",\n  \"to\": $node[\"Webhook\"].json.body.entry[0].changes[0].value.messages[0].from,\n  \"type\": \"text\",\n  \"text\": { \"body\": $json.output }\n}) }}","options":{}},"id":"send-wa-node","name":"Send WhatsApp Response","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1550,450]},{"parameters":{"options":{},"responseBody":"={{ $json.output }}"},"id":"resp-chat-node","name":"Respond to Web Chat","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1550,250]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.message || $json.body.entry[0].changes[0].value.messages[0].text.body }}","operation":"isNotEmpty"}]}},"id":"is-message-node","name":"Is Message","type":"n8n-nodes-base.if","typeVersion":1,"position":[500,300]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"Webhook\"].json.body.object }}","operation":"equal","value2":"whatsapp_business_account"}]}},"id":"routing-if-node","name":"If","type":"n8n-nodes-base.if","typeVersion":1,"position":[1300,300]}],"connections":{"Webhook":{"main":[[{"node":"Verify Webhook","type":"main","index":0},{"node":"Is Message","type":"main","index":0}]]},"Verify Webhook":{"main":[[{"node":"Respond Challenge","type":"main","index":0}]]},"Is Message":{"main":[[{"node":"AI Agent Logic","type":"main","index":0}]]},"Google Gemini":{"ai_languageModel":[[{"node":"AI Agent Logic","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent Logic","type":"ai_memory","index":0}]]},"Add_Lead":{"ai_tool":[[{"node":"AI Agent Logic","type":"ai_tool","index":0}]]},"AI Agent Logic":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Send WhatsApp Response","type":"main","index":0}],[{"node":"Respond to Web Chat","type":"main","index":0}]]}},"authors":"Amila Wijayantha Perera","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-11T11:31:11.782Z","id":242,"workflowId":"HIjL5Ct8lPzLyDvs","versionId":"a2343e66-cd83-47cf-b52b-d3c58853a8ae","event":"deactivated","userId":"b7ad677e-7e8c-4bfe-a727-58ebf0eeb056"},{"createdAt":"2026-03-11T11:31:11.797Z","id":243,"workflowId":"HIjL5Ct8lPzLyDvs","versionId":"a2343e66-cd83-47cf-b52b-d3c58853a8ae","event":"activated","userId":"b7ad677e-7e8c-4bfe-a727-58ebf0eeb056"}]}}