Job Finder/reports/WF ALL/DigyNex_Main.json
{
  "name": "DigyNex_Main",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-ingestion",
        "options": {}
      },
      "id": "a31ec6f8-df04-4a69-80c7-d82762c40649",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -288,
        -64
      ],
      "webhookId": "75cdeb7c-a49e-4c33-818a-3765f81b19ec"
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.body.name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.body.email }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.body.phone }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "Website"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $json.body.requirement }}"
            }
          ]
        }
      },
      "id": "e3ceacb1-786a-4df0-91d7-58439453656f",
      "name": "Create a row",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -128,
        -64
      ],
      "credentials": {
        "supabaseApi": {
          "id": "zoEeZaTzvnYozJum",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are the Senior Sales Strategist for DigyNex, a premium sales-optimized AI agency. Your goal is to write a high-end, elite professional welcome message for the lead.\n\nRequirements:\n\nAddress the customer as: 'Dear [Customer Name]'.\nTone: Sophisticated, elite, and business-driven.\nContent: Acknowledge their recent engagement with DigyNex. Position us as leaders in advanced AI and LMS solutions. Keep it concise but premium.\nUse phrases like: 'strategic objectives', 'elevate your business performance', 'elite professional solutions'.\nStrictly output ONLY a valid JSON object.\nLead Input:\n\nName: {{ $node[\"Webhook\"].json.body.name }}\nInquiry: {{ $node[\"Webhook\"].json.body.requirement }}\nContext: Website Landing Page Inquiry from {{ $node[\"Webhook\"].json.headers[\"cf-ipcountry\"] || 'International' }}\nOutput JSON Skeleton: { \"lead_score\": 1-10, \"customer_intent\": \"Summary\", \"personal_message\": \"Write the ELITE message here\" }"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "id": "0e15ed49-a418-4640-893e-04e783c8fe93",
      "name": "Message a model",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        32,
        -64
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "iGmBVG0Pa93PNfat",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "951498318055847",
        "recipientPhoneNumber": "={{ $node[\"Webhook\"].json.body.phone }}",
        "textBody": "={{ JSON.parse($json.content.parts[0].text).personal_message }}",
        "additionalFields": {}
      },
      "id": "63fda1ec-a222-46a0-a2cd-bd43342c854f",
      "name": "Send message",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        304,
        -64
      ],
      "webhookId": "27d7f703-fdee-4585-96c6-20102082acde",
      "credentials": {
        "whatsAppApi": {
          "id": "Pm6t3OTMnCAzgxe6",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1gF-TtxfpQVUZhB4UwqRW33aVWbeyuHsU5DGr0kK6kqk/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $node[\"Webhook\"].json.body.name }}",
            "Phone": "={{ $node[\"Webhook\"].json.body.phone }}",
            "Intent": "={{ JSON.parse($node[\"Message a model\"].json.content.parts[0].text).customer_intent }}",
            "Score": "={{ JSON.parse($node[\"Message a model\"].json.content.parts[0].text).lead_score }}",
            "Message": "={{ $node[\"Webhook\"].json.body.requirement }}",
            "Time": "={{ $node[\"Webhook\"].json.body.timestamp }}",
            "AI Response": "={{ JSON.parse($node[\"Message a model\"].json.content.parts[0].text).personal_message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Response",
              "displayName": "AI Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "792a1469-4930-4ee8-b50b-5e42aeede668",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        464,
        -64
      ],
      "credentials": {
        "googleApi": {
          "id": "Hfq3zfLKr8Z5HRCr",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ada32341-5895-4e72-a822-e7969c85c667",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "046ab924127beebc2a6ac199cb53caca898f316c28d80263b1da11e2adc4b791"
  },
  "id": "GmxGJFRWsdlJokQH",
  "tags": []
}