Job Finder/reports/WF ALL/DigyNex Neural Cron_ CAREER NEXUS.json
{
  "name": "DigyNex Neural Cron: CAREER NEXUS",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "1 0 * * *"
            }
          ]
        }
      },
      "name": "Cron: Midnight Reset",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -592,
        -16
      ],
      "id": "2effbe59-65b0-405a-8df6-0d37c417c021"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "pending_strategic_queue"
      },
      "name": "Supabase: Get Pending Queue",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -416,
        -16
      ],
      "id": "c3db3711-4fba-49f7-9154-34f062bb7d43",
      "credentials": {
        "supabaseApi": {
          "id": "XjdPS3IvOu6502Pz",
          "name": "Supabase Backend Admin"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 120) + 360 }}",
        "unit": "minutes"
      },
      "name": "Strategic Wait (06:00 AM Window)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        112,
        -16
      ],
      "notesInFlow": true,
      "id": "4782c0e9-3564-4a21-b8c8-e3857a23ea1a",
      "webhookId": "5afb93db-1199-4bb1-bc93-b433b7d49356",
      "disabled": true,
      "notes": "Delaying execution until peak recruiter hours (approx 06:00 - 08:00 AM)"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// DigyNex Strategic Dispatcher: Payload Re-Hydration (Single-Body Standard)\nconst activity = $input.item.json;\n\nreturn {\n  json: {\n    action: \"QUICK_APPLY\",\n    user_id: activity.user_id,\n    details: {\n      user_id: activity.user_id,\n      job_url: activity.details.job_url,\n      role: activity.details.role,\n      company: activity.details.company\n    },\n    activity_id: activity.id,\n    dispatched_at: new Date().toISOString()\n  }\n};\n"
      },
      "name": "Signal Re-Conversion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        256,
        -16
      ],
      "id": "67e132d1-7d54-4852-9328-297a4716d780"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -64,
        -16
      ],
      "id": "d1396f2b-eeaf-46dd-a83e-f47f3f41cd9f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        -16
      ],
      "id": "6ab457c7-538c-4199-8957-a6ed3adb0b6a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $('Signal Re-Conversion').item.json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cv_limit",
              "fieldValue": "={{ Math.max(0, $('Fetch Current Balance').item.json.cv_limit - 1) }}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        -16
      ],
      "id": "e80119c1-48af-4f47-87b2-574c1ac80e60",
      "name": "Update Decrement Quota",
      "credentials": {
        "supabaseApi": {
          "id": "XjdPS3IvOu6502Pz",
          "name": "Supabase Backend Admin"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "d20f2a16-a9ef-408a-9c0c-afc8f8918444",
              "leftValue": "={{ $json.details.status }}\n",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -240,
        -16
      ],
      "id": "9e6f5891-dc4f-44db-a936-0c9b3c2dae34",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        -16
      ],
      "id": "f6127715-c19a-4c58-9bd9-4e74aefabe0b",
      "name": "Fetch Current Balance",
      "credentials": {
        "supabaseApi": {
          "id": "XjdPS3IvOu6502Pz",
          "name": "Supabase Backend Admin"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_activity",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Signal Re-Conversion').item.json.activity_id.trim() }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "details",
              "fieldValue": "={{ { ...$('Signal Re-Conversion').item.json, status: \"processed\" } }}\n\n"
            }
          ]
        }
      },
      "id": "f3589c35-81c2-464b-97d1-805c8c93a3fe",
      "name": "Supabase: Finalize Activity1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        -16
      ],
      "credentials": {
        "supabaseApi": {
          "id": "XjdPS3IvOu6502Pz",
          "name": "Supabase Backend Admin"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_activity",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Signal Re-Conversion').item.json.activity_id.trim() }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "details",
              "fieldValue": "={{ { ...$('Signal Re-Conversion').item.json, status: \"processed\" } }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        992,
        -16
      ],
      "id": "a1c441f1-799d-4038-b0f5-da5cac8321e9",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "XjdPS3IvOu6502Pz",
          "name": "Supabase Backend Admin"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cron: Midnight Reset": {
      "main": [
        [
          {
            "node": "Supabase: Get Pending Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Get Pending Queue": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strategic Wait (06:00 AM Window)": {
      "main": [
        [
          {
            "node": "Signal Re-Conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Strategic Wait (06:00 AM Window)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signal Re-Conversion": {
      "main": [
        [
          {
            "node": "Fetch Current Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update Decrement Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Current Balance": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Decrement Quota": {
      "main": [
        [
          {
            "node": "Supabase: Finalize Activity1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Finalize Activity1": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2efc7eb6-6e6b-42c6-80e8-70a494fc513e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "046ab924127beebc2a6ac199cb53caca898f316c28d80263b1da11e2adc4b791"
  },
  "id": "ShKAyRbwC0h5UY8S",
  "tags": []
}