Job Finder/reports/WF ALL/Star Poster Generator Final.json
{
  "name": "Star Poster Generator Final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-poster",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1344,
        -96
      ],
      "id": "d93ac7af-c3a5-4c3f-b746-72961dc814fb",
      "name": "Webhook",
      "webhookId": "eb85f164-a2ba-469a-a802-a307ac22ce19"
    },
    {
      "parameters": {
        "url": "https://images.unsplash.com/photo-1557683316-973673baf926?w=1000",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1184,
        -96
      ],
      "id": "f1584cf4-3632-440b-b5aa-c52f8a28a2bd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"success\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1008,
        -96
      ],
      "id": "3af66a2e-78e0-492e-b21d-78f0fe302a2a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "text",
        "text": "={{ $(\"Webhook\").item.json.body.student_name }}\n",
        "fontSize": 80,
        "fontColor": "#FFFFFF",
        "positionX": 100,
        "positionY": 400,
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -848,
        -96
      ],
      "id": "294e213e-0e42-4606-9414-aeaf2e31fc58",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "operation": "text",
        "text": "={{ $(\"Webhook\").item.json.body.achievement }}",
        "fontSize": 45,
        "fontColor": "#FFFFFF",
        "positionX": 100,
        "positionY": 450,
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -688,
        -96
      ],
      "id": "1fb52f29-8c2b-4a0b-a0e1-c10e0e3824a8",
      "name": "Edit Image1"
    },
    {
      "parameters": {
        "operation": "text",
        "text": "={{ $(\"Webhook\").item.json.body.class_name }}",
        "fontSize": 45,
        "fontColor": "#FFFFFF",
        "positionX": 100,
        "positionY": 500,
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -544,
        -96
      ],
      "id": "03e8b8bc-c969-4726-86c7-1696add0726e",
      "name": "Edit Image2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert social media copywriter. Write a highly engaging, short, and professional Facebook post caption in a mix of English and Sinhala (Singlish/Sinhala) to congratulate a student.\n\nStudent details:\n- Name: {{ $(\"Webhook\").item.json.body.student_name }}\n- Class: {{ $(\"Webhook\").item.json.body.class_name }}\n- Achievement: {{ $(\"Webhook\").item.json.body.achievement }}\n\nGuidelines:\n- Tone: Enthusiastic, motivating, and proud.\n- Include relevant emojis.\n- Focus on the hard work of the student at DigyNex.\n- Do NOT include any hashtags.\n- Length: Strictly under 150 words (maximum 800 characters).\n\nIMPORTANT RESTRICTION: Output ONLY the final caption text. Do NOT include any introductory text, pleasantries, greetings, or repeat any part of these instructions.\n\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -400,
        -96
      ],
      "id": "d275ad60-3040-4046-aa7b-9af2d279a72a",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "iGmBVG0Pa93PNfat",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "7467791306",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $json.content.parts[0].text }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -480,
        80
      ],
      "id": "0153e37d-af7a-4b43-9fb0-89c594c4aec4",
      "name": "Send a photo message",
      "webhookId": "076f6883-70b1-4f38-9b1f-f9d21b9a0e56",
      "credentials": {
        "telegramApi": {
          "id": "RWOPvZjfv2lwu0Iw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -96,
        -112
      ],
      "id": "376d4a39-2355-4a81-95ef-ddff91029c3f",
      "name": "Merge"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Poster generated and sent to Admin Team\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -272,
        80
      ],
      "id": "ccb5b695-4348-49d4-a417-94a479c91925",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Edit Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image1": {
      "main": [
        [
          {
            "node": "Edit Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image2": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7a44d636-380e-40c1-86e2-8ff376a8c3ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "046ab924127beebc2a6ac199cb53caca898f316c28d80263b1da11e2adc4b791"
  },
  "id": "2kMlUc4uBfu1ywz0",
  "tags": []
}