Job Finder/reports/n8n_master_signal_router.json
{
  "name": "DigyNex Master Signal Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "digynex-neural-signal",
        "options": {}
      },
      "name": "Webhook: Neural Signal Receiver",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        400
      ],
      "notesInFlow": true,
      "notes": "Receives payload from Supabase user_activity"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.body.action}}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": "JOB_APPLY"
            },
            {
              "operation": "regex",
              "value2": "(CV_EXPORT|CL_EXPORT)"
            },
            {
              "operation": "equal",
              "value2": "ADMIN_BROADCAST"
            },
            {
              "operation": "equal",
              "value2": "DOC_APPROVAL_PENDING"
            },
            {
              "operation": "equal",
              "value2": "QUICK_APPLY"
            }
          ]
        }
      },
      "name": "Signal Routing Layer (Switch)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "workflowId": "workflow-e-executor"
      },
      "id": "node-exec-e",
      "name": "Workflow E: Executor (Path 0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        180
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "projectId": "ticmdqeyeiycznfzxqrx",
        "tableId": "profiles",
        "id": "={{ $json.body.user_id }}",
        "options": {}
      },
      "id": "node-quota-fetch",
      "name": "Supabase: Fetch Quota Balance1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        180
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "projectId": "ticmdqeyeiycznfzxqrx",
        "tableId": "user_activity",
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $node[\"Webhook: Neural Signal Receiver\"].json.body.user_id }}"
            },
            {
              "column": "action",
              "value": "SUCCESSFUL_APPLY"
            },
            {
              "column": "details",
              "value": "={{ $node[\"Workflow E: Executor (Path 0)\"].json }}"
            }
          ]
        }
      },
      "id": "node-log-qa",
      "name": "Create a row - QA",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1400,
        180
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "projectId": "ticmdqeyeiycznfzxqrx",
        "tableId": "system_config",
        "id": "global_broadcast",
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "value",
              "value": "={{ $node[\"Webhook: Neural Signal Receiver\"].json.body.details }}"
            }
          ]
        }
      },
      "id": "node-sync-broadcast",
      "name": "Supabase: Sync Global Broadcast",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        480
      ]
    },
    {
      "parameters": {
        "workflowId": "workflow-d-verification"
      },
      "name": "Workflow D: Verification Handshake (Path 3)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        640
      ]
    }
  ],
  "connections": {
    "Webhook: Neural Signal Receiver": {
      "main": [
        [
          {
            "node": "Signal Routing Layer (Switch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signal Routing Layer (Switch)": {
      "main": [
        [
          {
            "node": "Supabase: Fetch Quota Balance1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Supabase: Sync Global Broadcast",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow D: Verification Handshake (Path 3)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase: Fetch Quota Balance1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Fetch Quota Balance1": {
      "main": [
        [
          {
            "node": "Workflow E: Executor (Path 0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow E: Executor (Path 0)": {
      "main": [
        [
          {
            "node": "Create a row - QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
