Job Finder/reports/n8n_workflow_g_scraper.json
{
  "name": "DigyNex Workflow G: Global Job Scraper (Adzuna)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "digynex-job-scraper",
        "options": {}
      },
      "name": "Webhook: Job Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "notesInFlow": true,
      "notes": "Receives ?keyword=... & ?country=..."
    },
    {
      "parameters": {
        "operation": "getAll",
        "projectId": "ticmdqeyeiycznfzxqrx",
        "tableId": "job_scrapes",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "search_key",
              "condition": "eq",
              "keyValue": "={{$json.query.keyword.toLowerCase()}}_{{$json.query.country.toLowerCase()}}"
            }
          ]
        }
      },
      "name": "Supabase: Check Cache",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1d8ad232-4467-4279-813c-ccbb7c9dbec9",
              "leftValue": "={{$json.created_at}}",
              "rightValue": "={{new Date(Date.now() - 24 * 60 * 60 * 1000).toISOString()}}",
              "operator": {
                "type": "dateTime",
                "operation": "after",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "If Cache Fresh (< 24h)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$node[\"Supabase: Check Cache\"].json.jobs}}",
        "options": {}
      },
      "name": "Respond to Webhook (Cache Hit)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        150
      ],
      "notesInFlow": true,
      "notes": "Return fast without API Call"
    },
    {
      "parameters": {
        "url": "=https://api.adzuna.com/v1/api/jobs/{{$node[\"Webhook: Job Request\"].json.query.country}}/search/1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "3eb84619"
            },
            {
              "name": "app_key",
              "value": "f547d75879d0d2f2c75b915339692e6d"
            },
            {
              "name": "what",
              "value": "={{$node[\"Webhook: Job Request\"].json.query.keyword}}"
            },
            {
              "name": "results_per_page",
              "value": "20"
            }
          ]
        },
        "options": {}
      },
      "name": "HTTP: Adzuna API Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.item.json.results || [];\n\nconst formattedJobs = results.map(job => ({\n  id: job.id,\n  title: job.title,\n  company: job.company.display_name,\n  description: job.description,\n  url: job.redirect_url,\n  location: job.location.display_name,\n  salary_min: job.salary_min,\n  salary_max: job.salary_max,\n  created: job.created\n}));\n\nreturn {\n  search_key: `${$node[\"Webhook: Job Request\"].json.query.keyword.toLowerCase()}_${$node[\"Webhook: Job Request\"].json.query.country.toLowerCase()}`,\n  jobs: formattedJobs\n};"
      },
      "name": "Code: Format 4-by-4 Object",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1100,
        450
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "projectId": "ticmdqeyeiycznfzxqrx",
        "tableId": "job_scrapes",
        "dataMode": "defineBelow",
        "matchColumns": [
          "search_key"
        ],
        "valuesToSend": {
          "values": [
            {
              "column": "search_key",
              "value": "={{$json.search_key}}"
            },
            {
              "column": "jobs",
              "value": "={{$json.jobs}}"
            }
          ]
        }
      },
      "name": "Supabase: Save Cache",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1300,
        450
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$node[\"Code: Format 4-by-4 Object\"].json.jobs}}",
        "options": {}
      },
      "name": "Respond to Webhook (Fresh Data)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1550,
        450
      ]
    }
  ],
  "connections": {
    "Webhook: Job Request": {
      "main": [
        [
          {
            "node": "Supabase: Check Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Check Cache": {
      "main": [
        [
          {
            "node": "If Cache Fresh (< 24h)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cache Fresh (< 24h)": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Cache Hit)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Adzuna API Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Adzuna API Fetch": {
      "main": [
        [
          {
            "node": "Code: Format 4-by-4 Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format 4-by-4 Object": {
      "main": [
        [
          {
            "node": "Supabase: Save Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Save Cache": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Fresh Data)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
